html,
body {
    padding: 0;
    margin: 0;
}

/*=============================================
=            Fonts            =
=============================================*/

h2,
h1,
h3,
button {
    font-family: 'Shrikhand', cursive;
}

p,
input,
textarea {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
}

/*=====  End of Fonts  ======*/


/*=============================================
=            background            =
=============================================*/

body {
    background-image: url(assets/images/bg-image.png);
    background-repeat: repeat;
}

#left-gradient {
    position: fixed;
    width: 260px;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 198, 100, 0.44) 0%, rgba(255, 198, 100, 0) 95.45%);
    opacity: 0.7;
}

#right-gradient {
    position: fixed;
    right: 0px;
    width: 260px;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 198, 100, 0.44) 0%, rgba(255, 198, 100, 0) 95.45%);
    opacity: 0.7;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}



/*=====  End of background  ======*/




/*=============================================
=            Title area            =
=============================================*/

#title-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

h1 {
    display: inline-block;
    font-size: 52px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #f4ba8b;
    margin-top: 30px;
}

#clearBoardButton {
    display: inline-block;
    color: #FF8E8E;
    background-color: transparent;
    margin-bottom: 50px;
    margin-top: -60px;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    font-size: 20px;
    width: 260px;
    letter-spacing: 0.08em;
    cursor: pointer;
}

#clearBoardButton:hover {
    color: #fb7a7a;
    text-decoration: underline;
    #burnIcon {
        fill: #fb7a7a;
    }
}



/*=====  End of Title area  ======*/



/*=============================================
=            Main panel           =
=============================================*/

.main-panel-container {
    z-index: 1;
}

h2 {
    font-size: 28px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #5c5c5c;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#main-panel {
    display: flex;
    flex-direction: column;
    position: fixed;
    box-shadow: 0px 14px 70px rgba(204, 113, 5, 0.3);
    border-radius: 30px;
    background-color: #ffffff;
    padding: 30px;
    width: 345px;
}

.large-icon-time {
    background-image: url(assets/icons/icon-time-large.png);
    background-color: transparent;
    cursor: pointer;
}

.large-icon-date {
    background-image: url(assets/icons/icon-time-date.png);
    background-color: transparent;
    cursor: pointer;
}

.large-icons-div {
    display: flex;
    gap: 10px;
    padding-top: 15px;
    width: 345px;
    justify-content: start;
}

.large-icons-div label {
    height: 60px;
    width: 60px;
}

#timeInput,
#dateInput {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #D0EAEC;
    color: #565656;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
    height: 60px;
}

#timeInput {
    width: 210px;
    letter-spacing: 0.3em;
}

::-webkit-calendar-picker-indicator {
    background-image: url(assets/icons/icon-dropdown-arrow.png);
    color: Cornsilk;
    font-size: 1.5rem;
    transition: all ease 400ms;
    transform: scale(1);
    margin-left: 5px;
}

#subjectInput {
    font-family: 'Shrikhand', cursive;
    font-size: 27px;
    width: 100%;
    border: none;
    color: #746F94;
    letter-spacing: 0.1rem;
}

#subjectInput::placeholder {
    color: #A6A6A6;
    font-size: 22px;
    opacity: 0.5;
}

.main-button {
    padding: 10px 40px;
    width: 180px;
    height: 56px;
    left: 80.43px;
    top: 568px;
    color: #ffffff;
    background: #78ced4;
    border-radius: 10px;
    box-shadow: none;
    border: none;
    font-size: 24px;
    width: 260px;
    align-self: center;
    letter-spacing: 0.08em;
}

.main-button:hover {
    background: #64c7cf;
    letter-spacing: 0.15rem;
    transition: 0.04s ease-in;
    transform: scale(1.02);
    box-shadow: 0px 4px 14px rgba(122, 188, 200, 0.7);
}

#pin-selection {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 0, 30, 0, 30px;
    margin-bottom: 30px;
}

.pin-icon-button {
    border-radius: 50%;
    border: 2px solid #D2F5F8;
}

.text-area-div {
    position: relative;
    margin-top: 30px;
    width: 345px;
    margin-bottom: -10px;
}

textarea {
    z-index: 2;
    display: inline-block;
    width: inherit;
    border: none;
    resize: none;
    height: 200px;
    position: absolute;
    font-size: 26px;
    line-height: 50px;
    color: #565656;
    background-color: transparent;
}

.lines-pattern {
    z-index: 0;
    display: inline-block;
    opacity: 0.5;
    width: 345px;
    height: 150px;
    margin-top: 50px;
    background-image: linear-gradient(#a1d5da 2px, transparent 2px);
    background-size: 305px 3em;
}


/* Pin color selection */

#pinSelectionContainer {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.radio-button-container {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.radio-label {
    z-index: -1;
    position: absolute;
    right: 20px;
    top: 20px;
}

.radio-button {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    font: inherit;
    width: 70px;
    height: 70px;
    border: 2px solid #D2F5F8;
    border-radius: 50%;
    transition: 0.08s ease-in;
}

.radio-button:checked {
    border: 4px solid #09eafe;
    width: 80px;
    height: 80px;
    transition: 0.04s ease-in;
}

/*=====  End of Main panel  ======*/



/*=============================================
=            notes area             =
=============================================*/

#grid-container {
    width: 200px;
    display: grid;
    gap: 6rem;
    grid-template-columns: 345px 1fr;
    width: 100%;
    padding: 30px;
}

.note {
    width: 250px;
    height: 250px;
    background: #FFEDAE;
    box-shadow: 0px 4px 12px rgba(204, 113, 5, 0.4);
    border-radius: 4px 4px 60px 4px;
    padding: 20px;
    position: relative;
    transition: 0.08s ease-in;
}

.note:hover {
    size: 1.1;
    box-shadow: 0px 10px 20px rgba(204, 113, 5, 0.5);
    transform: scale(1.01);
    transform: rotate(0.3deg);
    .delete-icon {
        opacity: 1;
        transition: 0.08s ease-in
    }
    .pin {
        transform: rotate(10deg);
        transform-origin: bottom center;
        transition: 0.04s ease-in
    }
    transition: 0.08s ease-in;
}

p,
div {
    display: inline-block;
}

h3 {
    line-height: 120%;
    margin-top: 15px;
    margin-bottom: 0px;
    color: #746F94;
    font-size: 24px;
    letter-spacing: 0.002rem;
}

.notes-area {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    width: 100%;
}

.large-icon {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 4px;
}

.small-icon {
    width: 40px;
    height: 40px;
    border-radius: 4px;
}

.pin {
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 4px;
    text-align: center;
    background-image: url(assets/icons/Red-pin.svg);
    position: absolute;
    left: 94px;
    top: -25px;
}

.note-corner {
    height: 90px;
    width: 90px;
    background-image: url(assets/images/note-corner.svg);
    object-fit: fill;
    position: absolute;
    left: 217px;
    top: 217px;
}

.delete-icon {
    position: absolute;
    left: 245px;
    top: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fadf7b;
    background-image: url(assets/icons/icon-delete.png);
    opacity: 0;
}

.small-icon-date {
    background-image: url(assets/icons/icon-date-small.png);
    opacity: 0.7;
}

.small-icon-time {
    background-image: url(assets/icons/icon-time-small.png);
    opacity: 0.7;
}

.orange-text {
    color: #F0A056;
    font-size: 18px;
}

.details-container {
    display: flex;
    gap: 00px;
    top: 80px;
    justify-content: space-between;
}

.date-details-container {
    display: flex;
    gap: 0px;
    align-items: center;
}

.time-details-container {
    display: flex;
    gap: 0px;
    width: 90px;
    align-items: center;
}

#subject-container {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #D0EAEC;
    margin-top: 20px;
}

.note-content {
    font-size: 20px;
    color: #565656;
    position: absolute;
    top: 120px;
}

/* fade-in animation for added note (class added via javascript) */
.fade-in {
    animation: fadeIn 0.3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/*=====  End of notes area  ======*/